@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: #00252e;
    font-family: 'Open Sans', sans-serif;
}

/* 

tamanho display:
Desktop: 1440px
Mobile: 375px

cores:
Primarias
ff66c8 - pink hsl

naturais:
00252e - Very Dark Cyan
f5faff - Very Pale Blue


corpo:
font-family: 'Open Sans', sans-serif;

cabeçalho:
font-family: 'Poppins', sans-serif;

*/

.container{
    max-width: 1300px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

nav .btn_login{
    height: 40px;
    border: 1px solid #ff66c8;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

nav .btn_login a {
    padding: 8px 28px;
    text-decoration: none;
    color: #ff66c8;
}

section.info{
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 54px;
    text-align: center;
    padding: 80px 80px 58px;
}

section.info h1 {
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

section.info > div {
    max-width: 636px;
    margin: 0 auto;
    margin-top: 34px;
    font-size: 20px;
}

section.info button{
    margin-top: 52px;
    font-size: 22px;
    font-weight: 700;
    color: white;
    background-color: #ff66c8;
    padding: 24px 100px;
    border-radius: 50px;
    box-shadow: 0px 4px 8px -4px #00252e;
}

section.info_imagens{
    margin: 68px 0;
    display: grid;
    grid-template-areas: 'a a' 'b c';
}

section.info_imagens > img{
    grid-area: a;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 56px;
}

.card_info{
    margin: 0 auto;
    margin-top: 56px;
}

.card_info h3{
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
}

.card_info p {
    font-size: 20px;
    color: #00252e83;
    font-weight: 300;
    text-align: center;
}

/*.grow::after{
    content: "";
    background-image: url("images/bg-footer-top-mobile.svg");
}
*/

.grow{
    margin-top: 64px;
    max-width: 1440px;
    min-height: 534px;
    position: relative;
    padding-top: 164px;
}

.grow > div{
    padding: 0 132px;
    font-family: 12px;
    background-color: #f6fbff;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.texto_grow::before{
    content: " ";
    height: 300px;
    width: 100%;
    background: url('images/bg-section-top-desktop-1.svg') no-repeat;
    position: absolute;
    left: 0;
    top: 0;    
}

.texto_grow::after{
    content: " ";
    height: 100px;
    width: 100%;
    background: url("images/bg-section-bottom-desktop-1.svg") no-repeat;
    position: absolute;
    left: 0;
    bottom: -100px;
}
.texto_grow h2{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 32px;
}

.img_grow img {
    width: 100%;
}

