@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: #00252e;
    font-family: 'Open Sans', sans-serif;
    font-family: 12px;
}

/* 

tamanho display:
Desktop: 1440px
Mobile: 375px

cores:
Primarias
ff66c8 - pink hsl

naturais:
00252e - Very Dark Cyan
f5faff - Very Pale Blue


corpo:
font-family: 'Open Sans', sans-serif;

cabeçalho:
font-family: 'Poppins', sans-serif;

*/

.container,
.foot{
    max-width: 1300px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

nav .btn_login{
    height: 40px;
    border: 1px solid #ff66c8;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

nav .btn_login a {
    padding: 8px 28px;
    text-decoration: none;
    color: #ff66c8;
}

section.info{
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 54px;
    text-align: center;
    padding: 80px 48px 58px;
}

section.info h1 {
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

section.info > div {
    max-width: 636px;
    margin: 0 auto;
    margin-top: 34px;
    font-size: 20px;
}

section.info button,
.msg_btn a{
    margin-top: 52px;
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 700;
    color: white;
    background-color: #ff66c8;
    padding: 24px 100px;
    border-radius: 50px;
    box-shadow: 0px 4px 8px -4px #00252e;
}

section.info_imagens{
    margin: 68px 0;
    display: grid;
    grid-template-areas: 'a a' 'b c';
}

section.info_imagens > img{
    grid-area: a;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 56px;
}

.card_info{
    margin: 0 auto;
    margin-top: 56px;
}

.card_info h3{
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
}

.card_info p {
    font-size: 20px;
    color: #00252e83;
    font-weight: 300;
    text-align: center;
}


.grow,
.fluwing,
.users,
.msg_btn{
    margin: 0 auto;
    margin-top: 64px;
    max-width: 1440px;
    min-height: 534px;
    position: relative;
    padding-top: 164px;
}

.grow > div, 
.fluwing > div,
.users > div {
    padding: 0 132px;
    font-family: 12px;
    background-color: #f6fbff;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.texto_grow::before,
.users > div::before,
footer::before{
    content: " ";
    height: 300px;
    width: 100%;
    background: url('images/bg-section-top-desktop-1.svg') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

.texto_grow::after,
.users > div::after{
    content: " ";
    height: 144px;
    width: 100%;
    background: url("images/bg-section-bottom-desktop-1.svg") no-repeat;
    position: absolute;
    left: 0;
    bottom: -144px;
}
.texto_grow h2,
.fluwing h2,
.users h2{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 32px;
}

.img_grow img, 
.fluwing img,
.users img {
    width: 100%;
}

.img_grow,
.img_users{
    margin: 28px 0 28px 48px;
}

/* section fluwing */
.fluwing{
    padding: 0;
    margin-top: 232px;
}

.fluwing > div{
    background-color: white;
}

.fluwing .img_flui{
    margin: 28px 48px 28px 0;
}

.texto_flui{
    padding-left: 28px;
}

.texto_flui p{
    font-size: 16px;
}

/* section user */

.users{
    margin-top: 120px;
    padding-top: 0;
}

.texto_users p{
    font-size: 16px;
    margin-right: 12px;
}


.users > div::before{
    background: url("images/bg-section-top-desktop-2.svg") no-repeat;
    top: -156px;
}


.users > div::after{
    background: url("images/bg-section-bottom-desktop-2.svg") no-repeat;
    bottom: -72px;
}

/* section msg_btn */

.msg_btn {
    text-align: center;
}

.msg_btn h2{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 700;
}

.msg_btn a{
    margin-top: 24px;
    display: inline-block;
    text-decoration: none;
}

/* footer */

footer{
    background-color: #00252e;
    position: relative;
}
footer .foot{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foot h2{
    color: white;
}

.foot p {
    color: white;
}

.foot li {
    color: white;
}

footer::before{
    background: url("images/bg-footer-top-desktop.svg") no-repeat;
    top:-158px;
    height: 158px;
}