@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: #00252e;
    font-family: 'Open Sans', sans-serif;
    font-family: 12px;
}

/* 

tamanho display:
Desktop: 1440px
Mobile: 375px

cores:
Primarias
ff66c8 - pink hsl

naturais:
00252e - Very Dark Cyan
f5faff - Very Pale Blue


corpo:
font-family: 'Open Sans', sans-serif;

cabeçalho:
font-family: 'Poppins', sans-serif;

*/

.container,
.foot{
    max-width: 1300px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

nav .logo{
    max-width: 240px;
}

nav .logo img {
    width: 100%;
}

nav .btn_login{
    height: 40px;
    border: 1px solid #ff66c8;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

nav .btn_login a {
    padding: 8px 28px;
    text-decoration: none;
    color: #ff66c8;
}

section.info,
footer .foot{
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 54px;
    text-align: center;
    padding: 80px 48px 58px;
}

section.info h1 {
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

section.info > div {
    max-width: 636px;
    margin: 0 auto;
    margin-top: 34px;
    font-size: 20px;
}

section.info button,
.msg_btn a{
    margin-top: 52px;
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 700;
    color: white;
    background-color: #ff66c8;
    padding: 24px 100px;
    border-radius: 50px;
    box-shadow: 0px 4px 8px -4px #00252e;
}

section.info_imagens{
    margin: 68px 0;
    display: grid;
    grid-template-areas: 'a a' 'b c';
}

section.info_imagens > img{
    grid-area: a;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 56px;
}

.card_info{
    margin: 0 auto;
    margin-top: 56px;
}

.card_info h3{
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
}

.card_info p {
    font-size: 20px;
    color: #00252e83;
    font-weight: 300;
    text-align: center;
}

.grow,
.users{
    background-color: #f6fbff;
}

.grow,
.fluwing,
.users,
.msg_btn{
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
}

.grow > div, 
.fluwing > div,
.users > div {
    margin: 20% 0;
    padding: 0 132px;
    font-family: 12px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.grow > div::before,
.users > div::before,
footer::before{
    content: " ";
    height: 166px;
    width: 100%;
    background: url('images/bg-section-top-desktop-1.svg') no-repeat;
    position: absolute;
    left: 0;
    top: -32%;
}

.grow > div::after,
.users > div::after{
    content: " ";
    height: 144px;
    width: 100%;
    background: url("images/bg-section-bottom-desktop-1.svg") no-repeat;
    position: absolute;
    left: 0;
    bottom: -24%;
}

.users > div::after{
    bottom: -28% !important;
}

.texto_grow h2,
.fluwing h2,
.users h2{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 32px;
}

.img_grow img, 
.fluwing img,
.users img {
    width: 100%;
}

.img_grow,
.img_users{
    margin: 28px 0 28px 48px;
}

/* section fluwing */

.fluwing > div{
    background-color: white;
}

.fluwing .img_flui{
    margin: 28px 48px 28px 0;
}

.texto_flui{
    padding-left: 28px;
}

.texto_flui p{
    font-size: 16px;
}

/* section user */

.users{
    margin-top: 120px;
    padding-top: 0;
}

.texto_users p{
    font-size: 16px;
    margin-right: 12px;
}


.users > div::before{
    background: url("images/bg-section-top-desktop-2.svg") no-repeat;
    top: -156px;
}


.users > div::after{
    background: url("images/bg-section-bottom-desktop-2.svg") no-repeat;
    bottom: -44px;
}

/* section msg_btn */

.msg_btn > div{
    min-height: 350px;
    text-align: center;
}

.msg_btn h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.8em;
    font-weight: 700;
}

.msg_btn a{
    margin-top: 24px;
    display: inline-block;
    text-decoration: none;
}

/* footer */

footer{
    background-color: #00252e;
    position: relative;
    margin-top: 160px;
}

footer .foot{
    text-align: initial;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foot h2{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.foot p {
    color: white;
}

.foot li {
    color: white;
}

.foot i{
    color: white;
}


footer::before{
    background: url("images/bg-footer-top-desktop.svg") no-repeat;
    top:-158px;
    height: 158px;
}

.huddler, 
.huddler-letter p{
    max-width: 328px;
}

.huddler h2{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
}

.huddler h2 span{
    display: inline-block;
    width: 52px;
    height: 40px;
    padding-right: 58px;
    background: url("images/logo.svg") no-repeat;
}

.huddler p{
    margin: 20px 0;
}

.huddler p:nth-child(2),
.huddler-letter p:nth-child(2){
    margin-bottom: 32px;
}

.huddler p i{
    margin-right: 10px;
    font-size: 20px;
}

ul li {
    display: inline-block;
    margin-top: 60px;
    margin-right: 20px;
}

ul li i{
    font-size: 36px;
}

/* huddler-letter */

.huddler-letter h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
}

.huddler-letter p{
    margin: 24px 0;
}

form {
    display: flex;
    align-items: center;
}

form input {
    max-width: 320px;
    font-size: 20px;
    margin-right: 40px;
    padding: 16px;
    border-radius: 5px;
}

form button{
    width: 160px;
    font-weight: 700;
    font-size: 16px;
    padding: 18px;
    border-radius: 5px;
    background-color: #ff66c8;
    color: white;
}

/* responcivo */

@media (max-width: 1024px){
    .container nav,
    .container section{
        width: 90%;
        margin: 0 auto;
    }

    section.info{
        padding: 80px 0px 58px;
    }

    section.info h1 {
        font-size: 2.5em; 
    }

    section.info p {
        font-size: 1em;
    }

    section.info button,
    .msg_btn a{
        font-size: 1em;
    }

    /* grow */
    .grow >div,
    .fluwing > div,
    .users > div,
    .msg_btn{
        width: 90%;
        margin: 20% auto;
    }

    .grow > div::before{
        top: -48% ;
    }

    .grow > div::after{
        bottom: -44% !important;
    }

    .users > div::after{
        bottom: -44% !important;
    }


    .msg_btn{
        padding-top: 0;
        min-height: 350px;
    }
}

@media (max-width: 768px){
    .grow > div,
    .fluwing > div,
    .users > div{
        padding: 0;
    }

    .grow > div::before{
        top: -56%
    }

    .grow > div::after{
        bottom: -50% !important;
    }

    .users > div::after{
        bottom: -54% !important;
    }

    .img_grow,
    .img_users{
        margin: 0;
        margin-left: 10px;
    }

    .msg_btn h2{
        font-size: 2.52em;
    }

    .huddler{
        padding-right: 10px;
    }

    ul li{
        margin-top: 0;
    }

    form {
        min-height: 100px;
        display: block;
    }

    form input{
        max-width: none;
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    form button{
        float: right;
        width: 50%;
    }
   
}

@media (max-width: 425px){

    .logo{
        width: 44%;
    }

    nav .btn_login{
        height: 32px;
    }

    nav .btn_login a{
        padding: 8px 28px;
    }

    section.info h1, 
    .msg_btn h2{
        font-size: 2.2em;
    }

    section.info_imagens{
        grid-template-areas: 'a' 'b' 'c';
    }

    section.info_imagens > img {
        grid-area: a;
        margin: 0;
        width: 100%;
    }

    .grow > div,
    .fluwing > div,
    .users > div{
        grid-template-columns: 1fr ;
        grid-template-areas: 'a1' 'a2' ;
    }
    
    .texto_grow,
    .texto_users{
        grid-area: a2;
        padding-top: 5%;
        text-align: center;
    }
    
    .texto_grow h2,
    .texto_users h2{
        margin-bottom: 20px;
    }

    .texto_users p{
        margin-right: 0;
    }

    .grow > div::before{
        background: url("./images/bg-section-top-mobile-1.svg") no-repeat;
        background-size: 100%;
        top: -23%;
    }

    .grow > div::after{
        background: url('./images/bg-section-bottom-mobile-1.svg') no-repeat;
        background-size: 100%;
        bottom: -29% !important;
    }

    .texto_flui{
        margin-top: 10%;
        padding-left: 0;
    }

    .fluwing p {
        margin-bottom: 20%;
    }

    .users > div::before{
        background: url("./images/bg-section-top-mobile-2.svg") no-repeat;
        background-size: 100%;
        top: -24.8%;
    }

    .users > div::after{
        background: url("./images/bg-section-bottom-mobile-2.svg") no-repeat;
        background-size: 100%;
        bottom: -31% !important;
    }

    .msg_btn > div {
        margin: 40% 0 -30% 0;
    }

    footer > div.foot{
        grid-template-columns: 1fr;
        grid-template-areas: 'b1' 'b2';
    }

    footer .huddler-letter{
        grid-area: b1;
        margin-bottom: 20%;
    }

    footer::before {
        background: url('./images/bg-footer-top-mobile.svg') no-repeat;
        background-size: 100%;
        top: -5%;
    }
}